[Unit]
Description=Gongxincoin Wallet
After=network.target

[Service]
Type=forking
User=gxc
ExecStart=/usr/bin/gongxincoind -daemon -datadir=/var/lib/gxc/.gongxincoin -conf=/var/lib/gxc/.gongxincoin/gongxincoin.conf -pid=/var/lib/gxc/.gongxincoin/gongxincoind.pid
ExecStop=/usr/bin/gongxincoin-cli -datadir=/var/lib/gxc/.gongxincoin stop
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/var/lib/gxc/.gongxincoin/gongxincoind.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
